*, *:before, *:after {
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

body{
  background-color: ghostwhite;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: white;
  padding: 40px 0;
}

.container{
  margin: 0 auto;
  width: 750px;
  background-color: rgb(41, 42, 43);
  border-radius: 5px;
  height: 700px;
}

.side-bar {
  width: 35%;
  float: left;  
  height: 100%;
}

.side-bar .search{
  padding: 20px;  
  border-bottom: 1px white solid;
  height: 12%;
}

.side-bar input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: ghostwhite;
  background: rgba(153, 146, 146, 0.4);
  width: 90%;
  font-size: 15px;
}

.side-bar .list{
 height: 88%;
 cursor: pointer;
}

.side-bar ul{
  padding: 20px;
  list-style: none;  
  overflow: auto;  
  height: 100%;
  margin: 0;
}

.side-bar ul li:active {
  color: rgba(213, 208, 208, 0.3);
  cursor: pointer;
}
.side-bar .img{
  float: left;
  width: 20%;
}

.side-bar .about-container{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 60%;
}
.side-bar .about-container .name {
  font-size: 15px;
  font-weight: 200;
}
.side-bar li{
  padding-bottom: 20px;
}

li::after {
    content: "";
    clear: both;
    display: table;   
}

.right-bar{
  background: #f1f5f8;
  width: 65%;
  float: left;
  height: 100%;
}


